<div class="card">
<div class="container overflow-hidden">
    

        TOP 5 COURSES
        <h2>{{sum}}</h2>
        <h5 style="font-size: 12px;">ALL TIME ENROLLMENTS IN TOP 5 COURSES</h5>
    <div class="table-responsive-lg">
        <table class="table ">
            <tbody>
                <tr *ngFor="let course of courses; let i=index">
                            <td *ngIf="i <5"><svg id="{{color[i]}}" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                              </svg></td>   
                            <td *ngIf="i <5">{{ course.courseName }}</td>
                            <td *ngIf="i <5"><i class='bi bi-circle'></i></td>
                            <td *ngIf="i <5"></td>
                            <td *ngIf="i <5"></td>
                            <td *ngIf="i <5"></td>
                            <td *ngIf="i <5"></td>
                            <td *ngIf="i <5"></td>
                            <td *ngIf="i <5"></td>
                            <td *ngIf="i <5"></td>
                            <td *ngIf="i <5"></td>
                            <td *ngIf="i <5"></td>
                            <td *ngIf="i <5"></td>
                            <td *ngIf="i <5">{{ course.enrollments }} </td>
                            <td *ngIf="i <5">{{Math.round(course.enrollments*100/sum)}}%</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--  -->

</div>
</div>